 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: sans-serif;
     background-color: black;
     color: white;
     line-height: 1.6;
 }

 .main-container {
     display: grid;
     max-width: 1200px;
     grid-template-columns: 350px 1fr;
     gap: 40px;
     padding-top: 40px;
     margin: auto;
 }

 .sidebar {
     height: 90vh;
     background-color: #2a2a2a;
     border: 1px solid #e0e0e0;
     border-radius: 16px;
     position: sticky;
     top: 40px;
 }

 .main-content {

     background-color: #2a2a2a;
     border: 1px solid #e0e0e0;
     border-radius: 16px;
     padding: 40px;
 }

 .profile img {
     margin-top: 10px;
     width: 120px;
     height: 120px;
     border-radius: 50%;
     border: 1px solid #e0e0e0;

 }

 .profile h2 {
     font-size: 1.5rem;
     font-weight: 700;
     margin-top: 20px;
 }

 .profile p {
     font-size: 0.8rem;
     background-color: darkgoldenrod;
     color: white;
     margin-top: 10px;
     display: inline-block;
     padding: 5px 15px;
     border-radius: 8px;
     border: 1px solid #bdbdbd;
 }

 .profile {
     text-align: center;

 }

 .contact {
     margin-top: 30px;
     border-top: 3px solid #e0e0e0;
     padding: 20px;
 }

 .value {
     text-decoration: none;
     color: #e0e0e0;
 }

 .lable {
     font-weight: bold;
     color: #a0a0a0;
 }

 .email,
 .phone,
 .location {
     margin-bottom: 15px;
 }

 .social {
     margin-top: 20px;
     border-top: 3px solid #e0e0e0;
     padding: 20px;
     text-align: center;
     margin-left: 5px;


 }

 .social a {
     color: #e0e0e0;
 }


 #navigation {

     border-bottom: 2px solid #3a3a3a;
     margin-bottom: 20px;
     padding-bottom: 20px;

 }

 nav {
     display: flex;
     justify-content: flex-end;
     gap: 20px;
 }

 nav a {
     text-decoration: none;
     font-weight: 500;
     transition: color 0.3s ease;
     color: #e0e0e0;

 }

 nav a:hover {
     color: rgb(255, 191, 0);
 }

 /* aboutme */

 .heading {
     font-size: 2rem;
     margin-bottom: 15px;
     color: #e0e0e0;
 }

 .line {
     width: 60px;
     height: 5px;
     background-color: rgb(255, 191, 0);
     margin-bottom: 20px;
 }

 .para {
     text-align: justify;
     color: #e0e0e0;

 }

 #about {
     margin-bottom: 20px;
 }

 /* education */
 #education {
     margin-top: 30px;
 }




 .course {
     margin-top: 20px;
     position: relative;
 }

 .year {
     font-size: 0.9rem;
     color: #a0a0a0;
     margin-bottom: 5px;
 }

 .degree {
     font-size: 1.2rem;
     color: #e0e0e0;
     font-weight: 500;
     margin-bottom: 5px;
 }

 .college {
     font-style: italic;
     color: #a0a0a0;
     margin-bottom: 10px;
 }

 .work {
     color: #a0a0a0;
 }

 .course1 {
     padding-left: 25px;
     position: relative;
     margin-bottom: 30px;
 }

 .goal {
     height: 15px;
     width: 15px;
     border: 3px solid #ffbf00;
     border-radius: 50%;
     position: absolute;
     top: 5px;
     left: 0;
     z-index: 5;
 }

 .liner {
     position: absolute;
     width: 2px;
     top: 0;
     left: 5px;
     bottom: 0;
     border: 2px solid #3a3a3a;
 }

 /* skill */
 #skill {
     margin-top: 30px;
 }

 .grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
     gap: 40px;
 }

 .item {
     padding: 20px;
     text-align: center;
     background-color: #1e1e1e;
     border-radius: 10%;
     border: 2px solid #3a3a3a;
     margin-top: 20px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .item h3 {
     font-size: 1rem;
     font-weight: 500;
 }

 .item img {
     width: 48px;
     height: 48px;
     filter: brightness(0) saturate(100%) invert(83%) sepia(48%) saturate(3411%) hue-rotate(357deg) brightness(100%) contrast(106%);
     margin-bottom: 15px;

 }

 .item:hover {
     transform: scale(1.1);
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
 }

 /* portfolio */
 #project {
     margin-top: 30px;
 }

 .project-container {
     margin-top: 30px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 25px;
 }

 .project {
     background-color: #1e1e1e;
     border: 1px solid #3a3a3a;
     border-radius: 12px;
     overflow: hidden;
     transition: transform 0.5s ease, box-shadow 0.5s ease;
 }

 .project:hover {
     transform: translateY(-10px);
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

 }

 .project img {
     height: 180px;
     width: 100%;
     object-fit: fill;
 }

 .card {
     padding: 20px;
 }

 .card h3 {
     color: #e0e0e0;
     margin-bottom: 5px;
 }

 .card p {
     color: #a0a0a0;
     margin-bottom: 15px;
 }

 .card span {
     border-radius: 5px;
     background-color: rgba(255, 191, 0, 0.1);
     color: #ffbf00;
     font-size: 0.75rem;
     padding: 4px 8px;
 }


 @media screen and (max-width:1200px) {
     .main-container {
         grid-template-columns: 1fr;
         padding: 20px;
     }

     .sidebar {
         position: static;
         height: auto;
     }
 }

 @media screen and (max-width:750px) {
     .project-container {
         grid-template-columns: 1fr;
     }

     #navigation nav {
         /* Adjust nav for smaller screens */
         justify-content: center;
         flex-wrap: wrap;
     }

     .sidebar {
         display: flex;
         justify-content: center;
         gap: 40px;
     }
 }